export("basic.tmPrint","print.TableMonster","tmHeadings","tmCtypes","tmDigits","tmCaption",
       "tmTotals","tmHeadings<-","tmCtypes<-","tmDigits<-", "tmCaption<-","tmTotals<-","%,%")
                           
import(xtable)
importFrom("stats", "xtabs")
S3method(print, TableMonster)
S3method(as.data.frame, TableMonster)
